* {
  margin: 0;
  padding: 0;
  color:black;
}

html {
  background: url(../images/wallpaper.jpg) no-repeat center center fixed;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.container{
  background-color: rgba(0,0,0,0.2);
  width: 80%;
  height: 240px;
  margin: 2px auto 0px;
}

.containerLeft {
  display: inline-block;
  width: 30%;
}

.containerLeft img {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
}

.containerStudent,
.containerProfesor,
.containerCompanie {
  display: inline-block;
  width: 70%;
  float: right;
  padding: 10px;
  box-sizing: border-box;
}

.containerStudent h2,
.containerStudent h3,
.containerProfesor h2,
.containerProfesor h3,
.containerCompanie h2,
.containerCompanie h3 {
  display: inline-block;
  margin: 5px 0px;
}

h4 {
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  background-color:  #ff4800;
  color: white;
}

h4:hover {
  cursor: pointer;
  background-color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
